*{outline: none!important;}
body {overflow-x: hidden; font-family: 'Poppins', sans-serif;}
input[type="text"]:focus, textarea:focus, input[type="password"]:focus, select:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="number"]:focus {transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;outline:none;}
select, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea, input[type="tel"] {/*-webkit-appearance: none;-moz-appearance: none;appearance: none;*/}
a{text-decoration: none;color: #000;}

h1,h2,h3,h4,h5,h6,p,a,ul,li,button{
    margin: 0;
    padding: 0;
}

p{
    color: #7A7A7A;
}

/* SUB BANNER START */

.subBannerContent h2 {
    font-size: 68px;
    text-transform: uppercase;
    color: #fff;
}

.subBanner{
    background-image: url(../images/subbanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    position: relative;
}

.subBanner .row {
    align-items: center;
    height: 500px;
}

.subBannerimages img {
    position: absolute;
}

.subBannerimages img.x1 {
    top: -70%;
    right: -20%;
}

.subBannerimages img.dotsright {
    bottom: -50%;
    right: -46%;
    transform: scaleX(-1);
}

.subBannerimages img.bcube2 {
    right: -8%;
    bottom: -38%;
}

.subBannerimages img.scube2 {
    top: -75%;
    right: 3%;
}

.subBannerimages img.x2 {
    left: -10%;
    bottom: -40%;
}

.subBannerimages img.dotsleft {
    top: -85%;
    left: -45%;
}

.subBannerimages img.bcube1 {
    top: -74%;
    left: -8%;
}

.subBannerimages img.scube1 {
    left: -28%;
    top: 44%;
}
/* SUB BANNER SECTION END */

/* GMT SECTION START */

.gmt{
    background-image: url(../images/gImg.png);
    height: 600px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
}

.gmtSec .containerd {
    padding: 0;
}

.gmt img {
    margin-top: 67px;
    margin-bottom: 27px;
}

.gmt h2 {
    text-transform: uppercase;
    font-size: 48px;
}

.gmt p {
    font-size: 20px;
    padding: 0px 3rem;
    margin-top: 27px;
    color: #7A7A7A;
    min-height: 215px;
}

.gmt .learnMoreBtn {
    background: transparent;
    border: none;
    font-size: 28px;
}

.gmt .learnMoreBtn:after {
    position: absolute;
    content: "";
    width: 170px;
    height: 3px;
    background: #46F6BB;
    bottom: 40px;
    right: 40%;
}

.gmtSec .col-lg-4 {
    padding: 0;
}
.gmt.m {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.gmt.g {
    border-right: 2px solid #000;
}

.gmt.t {
    border-left: 2px solid #000;
}
/* GMT SECTION END */

/* SERVICES SECTION START */

.headingWork h2 {
    font-size: 48px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.headingWork p {
    font-size: 20px;
    margin-bottom: 70px;
}

.servicesContent h3 {
    font-size: 28px;
    text-transform: uppercase;
    margin: 22px 0;
}

.servicesContent {
    text-align: center;
}

.servicesSec .container-fluid {
    padding: 0 4rem;
}

.servicesSec{
    position: relative;
    padding: 5rem 0;
}

.greendots img {
    position: absolute;
    top: -19px;
    left: 24%;
    z-index: -1;
}

/* CONTANT SECTION CSS */

.contactBg{
    background-image: url(../images/contactBg.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contactSec .container-fluid {
    padding: 0;
}

.contactSec .col-lg-6 {
    padding: 0;
}

.contactBg h2 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 13px;
}

.contactBg p {
    color: #000;
    width: 90%;
}

.contactContent {padding: 8rem 9rem 0 9rem;}


.abc {
    display: flex;
    flex-direction: column;
}

.fullName {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 55%;
    margin-bottom: 2rem;
}

.contactForm h2 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.contactForm {
    padding: 5rem 0 0 10rem;
}

.abc label {
    font-weight: 600;
    font-size: 18px;
}

.contactContent img {
    margin-bottom: 28px;
}

/* CONTACT SECTION END */


/* PORTFOLIO SEC START */

.portfolioSec{
    background-color: #2F3742;
    height: 850px;
    position: relative;
    background-repeat: no-repeat;
}

.portfolioHeading h2 {
    font-size: 48px;
    margin-top: 80px;
    color: #fff;
    text-transform: uppercase;
}

.portfolioHeading p {
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
}

.portfolioBody {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 80px;
}

.portfolioContent h3 {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolioBorder h4 {
    color: #46F6BB;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: bold;
}

.portfolioBorder p {
    color: #fff;
}

.portfolioBorder::before {content: "";position: absolute;width: 5px;height: 160px;top: 188px;margin-left: -2rem;background: #Fff;}

.portfolioContent {
    padding: 4rem;
}


.portfolioBgimages img {
    position: absolute;
}

.portfolioSec img.x1 {
    bottom: 7%;
    right: 4%;
}

.portfolioSec img.x2 {
    top: 19%;
    right: -3%;
}

.portfolioSec img.x3 {
    top: 19%;
    left: -2%;
}

.portfolioSec img.dots2 {
    top: 1%;
    right: 0;
}

.portfolioSec img.dots1 {
    bottom: 1%;
    left: -7%;
    transform: rotate(180deg);
}

.portfolioSec img.smallcube {bottom: -5%;right: 28%;}

.portfolioSec img.bigcube {
    top: -5%;
    left: 16%;
}

.portfolioSec img.greendots {
    top: 5%;
    right: 52%;
    height: 40px;
}

.portfolioImg {
    border: 5px solid #46f6bb;
}

.portfolioImg img {
    transform: translate(20px, -20px);
}

/* PORTFOLIO SECTION END */

/* BANNER SECTION START */

.bannerSec{
    background-image: url(../images/bannerImg.png);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 5rem;
    display: flex;
    justify-content: start;
    position: relative;
    align-items: end;
}

.bannerContent h1 {
    font-size: 68px;
    color: #fff;
    width: 65%;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
}

.bannerContent h3 {
    font-size: 28px;
    color: #46F6BB;
    text-transform: uppercase;
    border-left: 10px solid #46f6bb;
    padding-left: 3rem;
}

.bannerContent p {
    color: #fff;
    font-size: 20px;
    margin-top: 22px;
}

.banner img {
    position: absolute;
    bottom: 25px;
    right: 50%;
}

/* .bannerContent {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
} */

/* HEADER START CSS */

header {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navbar {
    background: transparent;
    padding: 10px 5rem;
}

#navbarNav {
    width: 100%;
    display: flex;
    justify-content: end;
}

#navbarNav ul li a {
    color: #Fff;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 2rem;
}












button.btnborder {
    border: none;
    background: transparent;
    width: 100px;
    border-bottom: 3px solid #000;
}

button.btnborder p {
    font-size: 22px;
    transition: 0.7s all;
    transform: translateX(25px);
}

.btn {
    margin: 0;
    padding: 0;
}

.btn:hover .btnborder p {transform: translateX(0);}